@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || UTILITY CLASSES */

.remove-button {
  display: none;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.split-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.35rem;
  width: 100%;
  margin-bottom: 5px;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.9rem;
  width: 100%;
}
.form-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 2px solid gray;
}
.grid-dt {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

input:invalid {
  outline: 2px solid red;
  background-color: rgb(255, 255, 139);
}

/* || GENERAL STYLES */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background: radial-gradient(rgb(178, 232, 250), beige);
  padding: 1rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.progress-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.stepper-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.stepper {
  width: 100%;
  display: grid;
  place-content: center;
}

.stepper:is(:not(:last-child)) {
  border-right: 1px solid #000;
}

.progress {
  width: 100%;
  height: 24px;
}
.progressbar {
  width: 100%;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}
.form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0.75rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  border-radius: 10px;
}

.button:focus {
  outline: 2px solid gold;
}

.subContainer {
  display: grid;
}

input,
select {
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
}
.preview-container {
  display: grid;
  border: 1px solid gray;
  padding: 0px 0px 20px 20px;
  font-size: 14px;
}
.preview-subcontainer {
  display: grid;
  grid-template-columns: 100px auto;
  grid-column-start: auto;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  margin-bottom: 1rem;
}
